<!DOCTYPE html>
{% extends "base.html" %}

{% block header %}
<ul class="nav nav-tabs pt-5" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Threads</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Comments</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Categories</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" >People</button>
  </li>
</ul>
{% endblock header %}

{% block content %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      {% if threads %}
      {% for thread in threads %}
      <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted">
                <div>
                    <a href="{% url 'posts:thread_list' thread.category.title %}">{{ thread.category.title }}</a>
                    <div class="d-flex justify-content-between">By {{ thread.op.created_by.username }}<div></div>edited on {{ thread.op.edited_on }}</div>
                </div>
            </div>
            <h2 class="card-title">{{thread.title}}</h2>
            <p class="card-text">{{ thread.op }} ...</p>
            <a class="btn btn-primary" href="{{thread.get_absolute_url}}">Comment</a>
        </div>
    </div>
      {% endfor %}
      {% else %}
        <h5 class="pt-4 pb-4">No Matching Results</h5>
      {% endif %}
  </div>


  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      {% if comments %}
      {% for comment in comments %}
      <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted">
                <div>
                    <div class="d-flex justify-content-between">{{ comment.created_by.username }} commented on {{ comment.thread.title }}</div>
                    <div class="d-flex justify-content-between">- {{ comment.thread.category }} - Posted by {{comment.thread.op.created_by.username}}</div>
                </div>
                <hr />
                <div>
                    <a href=""></a>
                    <div class="d-flex justify-content-between">By {{ comment.created_by.username }}<div></div>edited on {{ comment.edited_on }}</div>
                </div>
            </div>
            <h2 class="card-title">{{comment.content}}</h2>
            <a class="btn btn-primary" href="{{thread.get_absolute_url}}">Comment</a>
        </div>
    </div>
      {% endfor %}
      {% else %}
        <h5 class="pt-4 pb-4">No Matching Results</h5>
      {% endif %}
  </div>

  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      {% if categories %}
      {% for category in categories %}
      <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{category.title}}</h2>
            <div class="small text-muted">{{category.description}}</div>
            <a class="btn btn-primary" href="{{thread.get_absolute_url}}">Subscribe</a>
        </div>
    </div>
      {% endfor %}
      {% else %}
        <h5 class="pt-4 pb-4">No Matching Results</h5>
      {% endif %}
  </div>

  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
      {% if users %}
      {% for user in users %}
      <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{user.username}}</h2>
            <a class="btn btn-primary" href="{% url 'posts:user_profile' user.username %}">Profile</a>
        </div>
    </div>
      {% endfor %}
      {% else %}
        <h5 class="pt-4 pb-4">No Matching Results</h5>
      {% endif %}
  </div>
</div>
{% endblock content %}