<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} <title> Thread List</title>{% endblock title%}

{% block content %}
<div class="card mb-4">
    <div class="card-body">
        {% if category %}
        <a class="" href="{% url 'posts:thread_create' category=category.title %}">
            <textarea class="form-control" rows="3" placeholder="Create a Thread!"></textarea>
        </a>
        {% else %}
        <a class="" href="{% url 'posts:thread_create' category='nocategory' %}">
            <textarea class="form-control" rows="3" placeholder="Create a Thread!"></textarea>
        </a>
        {% endif %}
    </div>
</div>

{% if threads %}
{% for thread in threads %}
<!-- thread post-->
<div class="card mb-4">
    <div class="card-body">
        {% block thread_body %}
        {% endblock thread_body %}
        <p class="card-text">{{ thread.op }} ...</p>
        <a class="btn btn-primary" href="{{thread.get_absolute_url}}">Comment</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="card mb-4 mt-4 ">
    <div class="card-body">
        <p>No Thread in this Category yet!</p>
        <a href="{% url 'posts:thread_create' %}">Click Me to Create the First Thread! </a>
    </div>
</div>
{% endif %}
{% endblock content %}