<!DOCTYPE html>
{% extends "base.html" %}
{% block title %} <title> Thread List </title>{% endblock title%}

{% block content %}

{% for thread in threads %}
<!-- Featured blog post-->
<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
    <div class="card-body">
        {% block thread_body %}
        {% endblock thread_body %}
        <p class="card-text">{{ thread.op }} ...</p>
        <a class="btn btn-primary" href="{{thread.get_absolute_url}}">Comment</a>
    </div>
</div>

{% endfor %}
{% endblock content %}