<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Thread
{% endblock title %}

{% load reply_tags %}
{% block content %}
<div id = "maindiv" class="container pt-4">
  <div class="row justify-content-md-center pt-5">
    <div class="lg-7">
      <div class="small text-muted mb-2">
        <div class="row">
            <div class="col-2">
               <a href="{% url 'posts:thread_list' thread.category.title %}">{{ thread.category.title }}</a>
            </div>
            <div class="col-8">
                <div class="d-flex">By {{ thread.op.created_by.username }} -<div>
                </div>- edited on {{ thread.op.edited_on }}</div>
            </div>
        </div>
      </div>
      <h3>{{ thread.title }}</h3>
    </div>
    <div class="lg-7">
      <p>{{ thread.op.content }}</p>
      <hr />
      <div id="myDIV" style="display:block;">
        <div class="row">
          <div class="col-sm">{% include "votes/score.html" with comment=thread.op %}</div>
          <div class="col-sm">
            <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#user_{{ thread.op.id }}" aria-expanded="false" aria-controls="user_{{ thread.op.id }}">Reply</button>
          </div>
          <div class="col-sm"></div>
        </div>
        <div class="collapse" id="user_{{ thread.op.id }}" data-bs-parent="#maindiv">
          <div class="card card-body">
            {% show_reply_form "reply" thread.op.id %}
          </div>
        </div>
        {% if user == thread.op.created_by %}
          <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#edit_{{ thread.op.id }}" aria-expanded="false" aria-controls="edit_{{ thread.op.id }}">Edit</button>
          <div class="collapse" id="edit_{{ thread.op.id }}" data-bs-parent="#maindiv">
              <div class="card card-body">
                {% show_reply_form "edit" thread.op.id %}
              </div>
          </div>
          {% endif %}
      </div>
    </div>

    <div class="lg-7">
      {% load mptt_tags %}
      <div>
        {% recursetree allcomments %}
        <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">
          <div class="small text-muted mb-2">
            {% if thread.op.edited_on %}
            <div class="d-flex pt-1 px-2">By {{ node.created_by.username }} -<div></div>- edited on {{ node.edited_on }}</div>
            {% else %}
            <div class="d-flex pt-1 px-2">By {{ node.created_by.username }} -</div><div>- created on {{ node.publish }}</div>
            {% endif %}
          </div>
          <div>{{ node.content }}</div>
          <hr />
          <div class="row">
            <div class="col-sm">{% include "votes/score.html" with comment=node %}</div>
            <div class="col-sm">
              <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#reply_{{ node.id }}" aria-expanded="false" aria-controls="reply_{{ node.id }}">Reply</button>
            </div>
            <div class="col-sm"></div>
          </div>

          <div class="collapse" id="reply_{{ node.id }}" data-bs-parent="#maindiv">
              <div class="card card-body">
                {% show_reply_form "reply" node.id %}
              </div>
          </div>
          {% if user == node.created_by %}
          <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#edit_{{ node.id }}" aria-expanded="false" aria-controls="edit_{{ node.id }}">Edit</button>
          <div class="collapse" id="edit_{{ node.id }}" data-bs-parent="#maindiv">
              <div class="card card-body">
                {% show_reply_form "edit" node.id %}
              </div>
          </div>
          {% endif %}
        </div>
        {% if not node.is_leaf_node %}
        <div class="children ps-4">
          {{ children }}
        </div>
        {% endif %}
        {% endrecursetree %}
      </div>

    </div>
  </div>
</div>

{% endblock content %}